[user]
	name = Ygol InternetWork
	email = admin@ygol.com
[color]
        ui=true
[pull]
        rebase = true
[rerere]
        enabled = true
[alias]
        s = status -s
        lg = log --oneline --decorate --all --graph
[core]
	excludesfile = /Users/Ygol/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
