[submodule "libs/git-extras"]
	path = libs/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "libs/z"]
	path = libs/z
	url = git://github.com/rupa/z.git
[submodule "libs/oh-my-zsh"]
	path = libs/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "libs/ansible"]
	path = libs/ansible
	url = https://github.com/ansible/ansible.git
[submodule "libs/pure"]
	path = libs/pure
	url = https://github.com/sindresorhus/pure
[submodule "libs/ansible-venv"]
	path = libs/ansible-venv
	url = https://github.com/configuresystems/ansible-venv-bootstrapper.git
[submodule "libs/rename"]
	path = libs/rename
	url = https://github.com/ap/rename.git
