[hub]
    protocol = https
[user]
    name = Yves Goldberg
    email = admin@ygol.com
    helper = cache
[alias]
    aa = add --all
    b = branch
    bhist = "!git --no-pager reflog $(git rev-parse --abbrev-ref HEAD)"
    bom = push --set-upstream origin master
    browse = !hub browse
    ca = commit --amend --reuse-message=HEAD
    car = commit --amend --no-edit
    cconflicts = !git ls-files -u | awk '{print $4}' | sort -u
    ci = commit
    co = checkout
    copysha = "!git rev-parse HEAD | tr -d '\n' | pbcopy"
    count = !git log --oneline | wc -l | awk '{print $1}'ount   = !git shortlog -sn
    dc = diff --word-diff --cached --color-words
    df = diff --word-diff --color-words
    fall = "!for remote in $(git remote); do echo "Fetching $remote"; git fetch "$remote"; done"
    fpop = !git stash show -p | git apply && git stash drop
    full-commit = !git cat-file -p $(git rev-parse HEAD)
    glog = log -E -i --grep
    issues = !hub browse -- issues
    lg = log --oneline --decorate --all --graph
    lnames = !git --no-pager show --name-only $1
    master = checkout master
    mb = !git merge-base HEAD $1
    mup = !git checkout master && git pull && git checkout -
    no-ff = merge --no-ff
    pl = pull
    plr = pull --rebase
    pom = push -u origin master
    promote = !$ZSH/bin/git-promote
    ps = push
    rank-contributers = !$ZSH/bin/git-rank-contributers
    rbc = rebase --continue
    retrack = "!retrack() { git config \"branch.$1.remote\" $(dirname \"$2\"); git config  \"branch.$1.merge\" \"refs/heads/$(basename \"$2\")\"; }; retrack"
    ri = rebase -i
    rim = !git rebase --interactive $(git merge-base master HEAD)
    riu = !git rebase -i $(git upstream)
    rmdeleted = !git rm $(git ls-files --deleted)
    rom = remote add origin
    rpo = remote prune origin
    s = status -s
    sal = !git sla # Accepting that I will continue to mistype this
    sdot = status . --short --branch
    si = status --ignored
    sl = log --oneline --decorate --graph -20
    sla = log --oneline --decorate --graph --all -20
    slap = log --oneline --decorate --all --graph
    slp = log --oneline --decorate --graph
    st = status
    trust = !mkdir .git/safe
    unchange = checkout --
    unchange = checkout --
    uncommit = reset --soft HEAD^
    uncommit = reset --soft HEAD^
    unreleased = !git l production/master..master
    unstage = reset
    unstage = reset
    upstream = rev-parse --abbrev-ref --symbolic-full-name @{u}
    upstream = rev-parse --abbrev-ref --symbolic-full-name @{u}
    ureset = !git upstream && git reset --hard $(git upstream)
    wtf     = !$ZSH/bin/git-wtf
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
    excludesfile = ~/.gitignore
    whitespace = trailing-space,space-before-tab
[apply]
    whitespace = nowarn
[advice]
    pushNonFastForward = false
    statusHints = false
[mergetool]
    keepBackup = false
    prompt = false
[difftool]
    prompt = false
[help]
    autocorrect = 1
[rerere]
    enabled = true
[url "git@github.com:"]
    insteadOf = gh:
[difftool "sourcetree"]
  	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  	path = 
[mergetool "sourcetree"]
  	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  	trustExitCode = true

# New
[merge]
    ff = only
[fetch]
    prune = true
[push]
    default = upstream
[github]
    user = ygol
